/* MAIN CSS */

#logo-center img {
  position: absolute;
  left: 44.2%;
  right: 50%;
}

#container-1 {
  background-color: #fcdb00;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
}

#container-2 {
  text-align: center;
  margin: 15% auto;
}

.title-font {
  font-weight: bold;
  color: black;
}

#get-start {
  margin-top: 15px;
  color: black;
}

.btn-border {
  border-color: black;
}

.img-center {
  margin-top: 10%;
}

#container-3 {
  margin: auto;
  width: 370px;
  text-align: center;
}

.container-4 {
  height: 100vh;
}

.container-5 {
  margin: 5% auto;
  text-align: center;
}

.container-6 {
  text-align: center;
  width: 550px;
  margin: auto;
  color: #898989;
}

.container-7 {
  margin: 3% auto;
  width: 900px;
}

.container-8 {
  display: inline-table;
  width: 60px;
  margin: auto 10px;
}

.container-9 {
  display: inline-table;
  width: 200px;
}

.container-9 p {
  color: #898989;
}

.container-10 {
  margin: 3% auto;
  width: 800px;
  text-align: center;

}

.container-11 {
  display: inline-block;
  width: 230px;
  text-align: center;
}

.container-11 img{
  margin-bottom: 15px;
}

.container-11 p{
  color: #898989;
  font-size: 13px;
  padding-top: 10px;
}

#price {
  text-decoration: underline;
  margin-bottom: -7px;
}

.container-12 {
  margin: auto;
  width: 1200px;
  text-align: center;
  margin-top: 30px;
}

.container-13 {
  display: inline-table;
  width: 200px;
  text-align: center;
  margin: auto 10px;
}

.container-13 img{
  margin-bottom: 10px;
}

.container-13 p {
  color: #898989;
  font-size: 13px;
}

.container-14 {
  height: 140vh;
}

.container-15 {
  width: 1000px;
  text-align: center;
}

.container-16 {
  display: inline-block;
  width: 230px;
  text-align: center;
}

.container-16 h5 {
  color: #898989;
}

.container-16 p{
  color: black;
  padding-top: 5px;
}

.container-17 {
  display: inline-block;
  margin: auto 10px;
}

.container-18 {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.container-18 p{
  color: #898989;
  margin-top: -12px;
}

.container-19 {
  margin: 5% auto;
  width: 600px;
  text-align: center;
}

.fontcolor {
  color: #898989;
}

.container-20 {
  display: inline-table;
  width: 800px;
}

.container-21 {
  display: inline-table;
  width: 360px;
  text-align: center;
  margin: auto 5%;
}

.container-22 {
  height: 110vh;
}

.container-23 {
  display: inline-table;
  width: 200px;
  text-align: center;
  margin: auto 2%;
}

.container-24 {
  margin: auto;
  width: 900px;
  text-align: center;
}

.form-width {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

.btn-sample {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #130269;
}

.container-25 {
  margin: auto;
  width: 900px;
  text-align: center;
  margin-top: -40px;
}

.container-26 {
  background-color: #010101;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
}

.title-color {
  color: white;
  font-weight: bold;
}

.form-width-btn {
  width: auto;
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

.container-27 {
  width: 900px;
  color: white;
  text-align: center;
  margin: 11% auto 0;
}

.container-28 {
  display: inline-table;
  width: 200px;
  text-align: left;
  margin-right: 5%;
}

.container-29 {
  display: inline-table;
  width: 100px;
  margin-left: 3%;
  text-align: left;
}

.container-29 a:link {
  color: white;
}

.container-29 a:visited {
  color: white;
}

.container-29 a:hover {
  color: gray;
}
